body {
    margin: 0px;
    font-family: 'font1';
    background: #fafafa;
}

.container {
    margin-top: 0.5%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.dis_flex {
    display: flex;
}

.icon_menu {
    display: none;
}

.icon_search {
    display: none;
}

.div_nav {
    padding-left: 4%;
}

svg {
    overflow: hidden;
    margin-left: .5rem;
}

div {
    display: block;
}

header {
    max-width: 100%;
}

.start-flex {
    justify-content: flex-start;
    box-sizing: inherit;
    margin: auto!important;
    width: 15%;
    visibility: visible;
}

.center-flex {
    text-align: right;
    font-size: 14px;
    box-sizing: inherit;
    margin: auto!important;
    width: 70%;
    visibility: visible;
}

.end-flex {
    justify-content: flex-end;
    box-sizing: inherit;
    margin: auto!important;
    -webkit-box-pack: end !important;
    width: 15%;
    visibility: visible;
}

.btn_title {
    border-radius: 6px;
    background-color: #e7e6e6;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 80px;
    text-align: center;
}

.input_search {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #41475f;
    text-decoration: none;
}

.a_nav {
    color: rgb(32, 84, 228);
    font-weight: bold;
}

.center-flex,
a:hover {
    color: #fb815e;
}

.search {
    margin: auto;
    margin-top: 2%;
    border-radius: 12px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    background-image: url('./icons/download.png');
    background-color: #1780df;
    background-size: cover;
    text-align: center;
}

.search-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3%;
    margin-left: auto;
    margin-left: auto;
}

.select-search {
    margin-right: -20px;
    justify-content: flex-center;
    flex-grow: 1;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
    background-color: white;
    font-size: 15px;
    z-index: 9;
    padding: 1.05rem;
    margin-top: 0.75vw;
    font-family: 'font1';
    outline: none;
}

.main-search-box {
    justify-content: flex-start;
    flex-grow: 2;
    width: 400px;
    box-shadow: none;
    border: 1px solid white!important;
    font-size: 15px;
    padding: 1.05rem;
    margin-top: 0.75vw;
    z-index: 5;
    border-radius: 10px;
    font-family: 'font1';
    outline: none;
}

.search-button {
    justify-content: flex-end;
    margin-right: -20px;
    font-size: 15px;
    width: 150px;
    flex-grow: 1;
    color: white;
    padding: 1.05rem;
    margin-top: 0.75vw;
    background-color: #fb815e;
    border: 1px solid transparent!important;
    border-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    font-family: 'font1';
    outline: transparent;
}

.search-button:hover {
    background-color: #fa5a2c;
    transition: 0.5s;
}

::placeholder {
    color: #dedede;
}

.title_small_box {
    margin-top: 5%;
    width: 100%;
}

.start-title {
    color: #41475f;
    font-weight: bold;
    justify-content: flex-start;
    flex-grow: 2;
}

.end-title {
    justify-content: flex-end;
    flex-grow: 1;
}

.small_box_1 {
    overflow: hidden;
    margin-top: 3%;
    display: flex;
}

.box {
    margin-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    border-radius: 8px;
    width: 10%;
    text-align: center;
    border: 1px solid rgb(219, 195, 195)
}

.text_box {
    color: #41475f;
    font-size: 13px;
    font-weight: bold;
}

.box:hover {
    box-shadow: black;
    transition: 0.5s;
}

.img_div {
    width: 90%;
    height: 60%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 8%;
}

.advertise_box {
    position: relative;
    height: 70vw;
    background: white;
}

.advertise_box h3 {
    position: relative;
    top: 50px;
    color: #3b4157;
    font-size: 20px;
    padding-top: 10vw;
    padding-right: 1vw;
}

.advertise_box p {
    position: relative;
    top: 50px;
    display: block;
    color: #6e7794;
    font-size: 15px;
    max-width: 400px;
    padding-right: 1vw;
}

.comment_box {
    position: relative;
    float: left;
    bottom: 15vw;
    border: 1px solid #1780df;
    background-color: #e5f2fe;
    border-radius: 20px;
    width: 50%;
    height: 370px;
    color: #6e7794;
}

.comment_box p,
p2 {
    position: relative;
    font-size: 17px;
    color: #3b4157;
    top: 1vw;
    right: 0.5vw;
}

.comment_box p2 {
    font-size: 34px;
    top: 13.75vw;
    color: #6e7794;
}

.doctor_info {
    padding-top: 11vw;
    margin-right: 2vw;
}

.doctor_info_image {
    margin-top: 1.5vw;
    margin-left: 0;
    border-radius: 50%;
    width: 77px;
    height: 77px;
}

.doctor_info h6 {
    color: #3b4157;
    float: left;
    padding-left: 25vw;
    font-size: 15px;
}

.doctor_info h7 {
    position: relative;
    font-size: 14.75px;
    bottom: 3.65vw;
    right: 6.50vw;
}

.doctor_info_input {
    font-family: 'font1';
    font-size: 14.5px;
    position: relative;
    bottom: 4.5vw;
    height: 36px;
    width: 150px;
    text-align: center;
    right: 12.5vw;
    color: white;
    background-color: #fb815e;
    border: 1px solid transparent!important;
    border-radius: 10px;
    cursor: pointer;
    outline: transparent;
}

.doctor_info_input:hover {
    background-color: #fa5a2c;
    transition: 0.5s;
}

.comma_image {
    position: absolute;
    bottom: 25.5vw;
    right: 3vw;
    width: 50px;
}

.person_comment {
    position: relative;
    bottom: 40vw;
    right: 75vw;
    color: #3b4157;
}

@font-face {
    font-family: 'font1';
    src: url('./fonts/38d4b5f.woff2'), url('./fonts/a5080d9.ttf'), url('./fonts/d4bb655.woff');
}