body {
    margin: 0px;
    font-family: 'font1';
}

.container {
    margin-top: 0.5%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.dis_flex {
    display: flex;
}

.icon_menu {
    display: none;
}

.icon_search {
    display: none;
}

.div_nav {
    padding-left: 4%;
}

svg {
    overflow: hidden;
    margin-left: .5rem;
}

div {
    display: block;
}

header {
    max-width: 100%;
}

.start-flex {
    justify-content: flex-start;
    box-sizing: inherit;
    margin: auto!important;
    width: 15%;
    visibility: visible;
}

.center-flex {
    text-align: right;
    font-size: 14px;
    box-sizing: inherit;
    margin: auto!important;
    width: 70%;
    visibility: visible;
}

.end-flex {
    justify-content: flex-end;
    box-sizing: inherit;
    margin: auto!important;
    -webkit-box-pack: end !important;
    width: 15%;
    visibility: visible;
}

.btn_title {
    border-radius: 6px;
    background-color: #e7e6e6;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 80px;
    text-align: center;
}

.input_search {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #41475f;
    text-decoration: none;
}

.a_nav {
    color: rgb(32, 84, 228);
    font-weight: bold;
}

.center-flex,
a:hover {
    color: orange;
}

.search {
    margin: auto;
    margin-top: 2%;
    border-radius: 12px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    background-image: url('./icons/download.png');
    background-color: #1780df;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.search-title {
    color: white;
    font-size: 2.75rem;
    margin-left: auto;
    margin-left: auto;
}

.select-search {
    margin-right: -20px;
    justify-content: flex-center;
    flex-grow: 1;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
    background-color: white;
    font-size: 15px;
    z-index: 9;
    padding: 1.05rem;
    margin-top: 0.75vw;
    font-family: 'font1';
    outline: none;
}

.main-search-box {
    justify-content: flex-start;
    flex-grow: 2;
    width: 600px;
    box-shadow: none;
    border: 1px solid white!important;
    font-size: 15px;
    padding: 1.05rem;
    margin-top: 0.75vw;
    z-index: 5;
    border-radius: 10px;
    font-family: 'font1';
    outline: none;
}

.search-button {
    justify-content: flex-end;
    margin-right: -20px;
    font-size: 15px;
    width: 150px;
    flex-grow: 1;
    color: white;
    padding: 1.05rem;
    margin-top: 0.75vw;
    background-color: tomato;
    border: 1px solid tomato!important;
    border-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    font-family: 'font1';
    outline: none;
}

.search-button:hover {
    background-color: #ff5233;
    transition: 0.5s;
}

::placeholder {
    color: #dedede;
}

.title_small_box {
    margin-top: 5%;
    width: 100%;
}

.start-title {
    color: #41475f;
    font-weight: bold;
    justify-content: flex-start;
    flex-grow: 2;
}

.end-title {
    justify-content: flex-end;
    flex-grow: 1;
}

.small_box_1 {
    margin-top: 3%;
    display: flex;
}

.box {
    margin-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    border-radius: 8px;
    width: 10%;
    text-align: center;
    border: 1px solid rgb(219, 195, 195)
}

.box:hover {
    box-shadow: black;
    transition: 0.5s;
}

.img_div {
    width: 90%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 8%;
}

@font-face {
    font-family: 'font1';
    src: url('./fonts/38d4b5f.woff2'), url('./fonts/a5080d9.ttf'), url('./fonts/d4bb655.woff');
}